.table{
  /*border-collapse: collapse;*/
  margin: auto;
  padding: none;
  text-align: center;
  border: 4px solid rgb(161, 215, 131);
}

caption{
  background: rgb(220, 230, 48);
  border-radius: 8px;
  height: 30px;
}
.table .subtema td{
  background: rgb(35, 213, 176);
  border:  5px solid rgb(0, 0, 0);
  width: 120px;
  height: 20px;
  border-radius: 8px;
}
.table .subtema2{
  border:  5px solid rgb(0, 0, 0);
  width: 150px;
  height: 20px;
  border-radius: 8px;
  background:rgb(212, 217, 185);
}
.table .subtema2 .direccion {
  width: 200px;
  height: 20px;
}
